<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Ducky One X Configurator</string>
    <key>CFBundleExecutable</key>
    <string>ducky-config</string>
    <key>CFBundleIconFile</key>
    <string>ducky.icns</string>
    <key>CFBundleIdentifier</key>
    <string>io.ducky.one-x.configurator</string>
    <key>CFBundleName</key>
    <string>Ducky One X Configurator</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundleVersion</key>
    <string>__VERSION__</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
